.midDisplay{
    z-index:-1;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00b2c6;
    box-shadow:0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    height:64vh;
  }
  .mainImg{
    height:90vh;
    width:90vh;
    margin-top:-10vh;
  }
